/* TODO: figure out why 'CE' and "<-" are pushed to the right in their boxes and
 * fix it */
@font-face {
  font-family: "JetBrains";
  src: url("fonts/JetBrainsMonoNerdFont-Regular.ttf");
}

body {
  background-color: hsl(164 90% 90% / 0.4);
  display: flex;
  flex-direction: column;
  /*justify-content: center; maybe add later */
  align-items: center;
  font-family: "JetBrains";
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.4rem;
}

h2 {
  margin-top: 0.4rem;
  margin-bottom: 3rem;
}

button {
  font-family: "JetBrains";
  font-size: 2rem;
  padding: 0.8rem;
  margin: 5px;
  width: 59px;
  border-radius: 8px;
  text-align: center;
}

.screen {
  width: 17rem;
  height: 5rem;
  border: black solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem;
  background-color: darkgrey;
  font-weight: 300;
  font-size: 1.7rem;
  border-radius: 4px;
  font-family: "JetBrains";
}

.calc-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 1.1rem;
  border-radius: 12px;
  border: black 0.8px solid;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
